$breakpoints: (
  xxl: 1920px,
  xl: 1280px,
  md: 1024px,
  sm: 767px,
  xs: 576px,
);

$bgColor: linear-gradient(90deg, #fafafa, #bababa);
$btnColor: linear-gradient(90deg, #6a14c7, #ad1aa1, #520a4f);
